In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing  import LabelEncoder,OneHotEncoder

In [3]:
import requests
from IPython.display import FileLink, FileLinks
url = 'https://raw.githubusercontent.com/Princekrampah/DataCleaning/954d943179a94982a9999408e005e133dd2ba453/datasets/housePrices.csv'
res = requests.get(url, allow_redirects=True)
with open('housing.csv','wb') as file:
    file.write(res.content)
housing = pd.read_csv('housing.csv')
#housing.to_csv("<C:/Users/HellenMati/Desktop/Ubunifu/DataScience/1.DataCleaning/to/housing.csv>" , index=False )

housing.head(5)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836

Properties of the data

In [4]:
len(housing["city"].unique())

5

In [5]:
label_encoded=LabelEncoder()

In [6]:
label_encoded.fit(housing['city'])

LabelEncoder()

In [7]:
label_encoded.classes_

array(['Belo Horizonte', 'Campinas', 'Porto Alegre', 'Rio de Janeiro',
       'São Paulo'], dtype=object)

In [8]:

housing["label_encoded_city"]= label_encoded.transform(housing['city'])
housing

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$),label_encoded_city
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618,4
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973,4
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841,2
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421,2
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,Porto Alegre,63,2,1,1,5,not acept,furnished,402,1478,24,22,1926,2
10688,São Paulo,285,4,4,4,17,acept,not furnished,3100,15000,973,191,19260,4
10689,Rio de Janeiro,70,3,3,0,8,not acept,furnished,980,6000,332,78,7390,3
10690,Rio de Janeiro,120,2,2,2,8,acept,furnished,1585,12000,279,155,14020,3
10691,São Paulo,80,2,1,0,-,acept,not furnished,0,1400,165,22,1587,4

In [9]:
one_hot_encoded = OneHotEncoder()

In [10]:
one_hot_encoded.fit(housing[["city"]])

OneHotEncoder()

In [11]:
ohe = one_hot_encoded.transform(housing[["city"]])

In [12]:
ohe_df = pd.DataFrame(ohe.toarray(),dtype="int")

In [13]:
ohe_df

       0  1  2  3  4
0      0  0  0  0  1
1      0  0  0  0  1
2      0  0  1  0  0
3      0  0  1  0  0
4      0  0  0  0  1
...   .. .. .. .. ..
10687  0  0  1  0  0
10688  0  0  0  0  1
10689  0  0  0  1  0
10690  0  0  0  1  0
10691  0  0  0  0  1

[10692 rows x 5 columns]

In [14]:
encoded_city = housing.join(ohe_df)

In [15]:
encoded_city.head(5)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$),label_encoded_city,0,1,2,3,4
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618,4,0,0,0,0,1
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973,4,0,0,0,0,1
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841,2,0,0,1,0,0
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421,2,0,0,1,0,0
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836,4,0,0,0,0,1

In [21]:
encoded_city.columns

Index([               'city',                'area',               'rooms',
                  'bathroom',      'parking spaces',               'floor',
                    'animal',           'furniture',            'hoa (R$)',
          'rent amount (R$)',   'property tax (R$)', 'fire insurance (R$)',
                'total (R$)',  'label_encoded_city',                     0,
                           1,                     2,                     3,
                           4],
      dtype='object')

In [22]:
encoded_city.drop( 4, axis = 1, inplace = True )

In [23]:
encoded_city

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$),label_encoded_city,0,1,2,3
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618,4,0,0,0,0
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973,4,0,0,0,0
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841,2,0,0,1,0
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421,2,0,0,1,0
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,Porto Alegre,63,2,1,1,5,not acept,furnished,402,1478,24,22,1926,2,0,0,1,0
10688,São Paulo,285,4,4,4,17,acept,not furnished,3100,15000,973,191,19260,4,0,0,0,0
10689,Rio de Janeiro,70,3,3,0,8,not acept,furnished,980,6000,332,78,7390,3,0,0,0,1
10690,Rio de Janeiro,120,2,2,2,8,acept,furnished,1585,12000,279,155,14020,3,0,0,0,1
10691,São Paulo,80,2,1,0,-,acept,not furnished,0,1400,165,22,1587,4,0,0,0,0

In [ ]:
housing.shape

In [ ]:
housing.describe()

In [ ]:
housing.dtypes

In [ ]:
# set seed for reproducibility
np.random.seed(0)

# Nan

In [ ]:
Missing_values= housing.isna().sum()
Missing_values

# Percentage of missing values

In [ ]:
housing.shape

In [ ]:
total_cells = np.product(housing.shape)

Missing_values = Missing_values.sum()

percentage_missing = (Missing_values/total_cells)*100

percentage_missing

The percentage of missing values is really small we can therefore drop it instead of doing Imputation on the data

In [ ]:
housing_copy=housing.copy()
housing_copy.head(2)

In [ ]:
housing_copy.shape

In [ ]:

housing_copy1=housing_copy.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

housing_copy1.shape

In [ ]:
housing_copy1.isna().sum()
housing_copy1.head()

In [ ]:
housing_copy1 = housing_copy1.replace({'animal': {'acept': 1, 'not acept': 0}})
housing_copy1.head(2)

In [ ]:
housing_copy1 = housing_copy1.replace({'furniture': {'furnished': 1, 'not furnished': 0}})
housing_copy1.head(2)

In [ ]:
housing_copy1.corr()

In [ ]:

import matplotlib.pyplot as plt

plt.matshow(housing_copy1.corr())
plt.show()

# EDA

In [ ]:
pip install hvplot

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import hvplot.pandas
%matplotlib inline

In [ ]:
plot=sns.pairplot(housing_copy1)
plot

In [ ]:
housing_copy1.columns

In [ ]:
housing_copy1.hvplot.hist(by='Price', subplots=False, width=1000)

import hvplot.pandas  # noqa
housing_copy1.hvplot()

In [ ]:
housing_copy1.hvplot.hist(by='rent amount (R$)')

In [ ]:
housing_copy1.hvplot.scatter(x='area', y='total (R$)')

In [ ]:
housing_copy1.hvplot.scatter(x='rooms', y='rent amount (R$)')

In [ ]:
housing_copy1.hvplot.scatter(x='area', y='total (R$)')

In [ ]:
housing_copy1.hvplot.scatter(x='city', y='total (R$)')

In [ ]:
sns.heatmap(housing_copy1.corr(), annot=True)

In [ ]:
# Outlier Analysis
fig, axs = plt.subplots(2,3, figsize = (10,5))
plt7= sns.boxplot(housing_copy1['total (R$)'], ax = axs[0,0])
plt8= sns.boxplot(housing_copy1['hoa (R$)'], ax = axs[0,0])
plt9= sns.boxplot(housing_copy1['rent amount (R$)'], ax = axs[0,0])
plt10= sns.boxplot(housing_copy1['property tax (R$)'], ax = axs[0,0])
plt11 = sns.boxplot(housing_copy1['fire insurance(R$)'], ax = axs[0,0])
plt12 = sns.boxplot(housing_copy1['area'], ax = axs[0,1])
plt13 = sns.boxplot(housing_copy1['rooms'], ax = axs[0,2])
plt1 = sns.boxplot(housing_copy1['bathroom'], ax = axs[1,0])
plt2 = sns.boxplot(housing_copy1['stories'], ax = axs[1,1])
plt3 = sns.boxplot(housing_copy1['parking spaces'], ax = axs[1,2])
plt4 = sns.boxplot(housing_copy1['floor'], ax = axs[1,1])
plt5 = sns.boxplot(housing_copy1['animal'], ax = axs[1,1])
plt6 = sns.boxplot(housing_copy1['furniture'], ax = axs[1,1])

plt.tight_layout()

# Training a Linear Regression Model
Let's now begin to train out regression model! We will need to first split up our data into an X array that contains the features to train on, and a y array with the target variable, in this case the Price column. We will toss out the Address column because it only has text info that the linear regression model can't use.

X and y arrays

In [ ]:
housing_copy1.columns